::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.NavigationBar {
  display: flex;
  background-color: rgb(226, 226, 226);
  padding: 10px;
}

.links,
.links:visited {
  list-style-type: none;
  color: black;
}

#allLinks {
  margin-left: auto;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
  /* display: flex; */
  /* overflow: hidden;
  padding: 30px;
  text-align: right;
  position: relative;
  right: 130px; */
}

#logo {
  width: 90px;
  margin: auto;
}

.links {
  padding-left: 25px;
  margin: 0px;
  margin-left: auto;
}

.transparent {
  margin: 0px;
  margin-left: auto;
  visibility: hidden;
}

#findjobs {
  padding-right: 40px;
}

#bannerImage {
  position: relative;
  z-index: 0;
  height: 650px;
  transform: scaleX(-1);
  justify-content: center;
}

#searchbar {
  position: absolute;
  width: 600px;
  height: 50px;
  padding: 20px;
  border: 2px solid rgb(20, 119, 86);
  border-radius: 25px;
  left: 200px;
  top: 400px;
}

#whyChooseUs {
  position: relative;
  top: 200px;
  text-align: center;
}

.banner {
  position: relative;
  top: 100px;
  /* max-width: fit-content; */
  background-color: rgb(243, 242, 231);
  text-align: center;
}

#titleText {
  position: absolute;
  /* font-weight: bold; */
  top: 5%;
  left: 26%;
}

#iconsBox {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#logout {
  border-radius: 20px;
  margin-right:40px
}

#signup {
  border-radius: 30px;
}

#signin {
  border-radius: 30px;
}