.NavigationBar {
  background-color: cyan;
  position: relative;
  padding: 10px;
  text-align: right;
}

.links,
.links:visited {
  color: white;
}

.header {
  display: flex;
  margin-left: 20px;
  padding: 20px;
}

.links {
  margin: 20px;
}

#allLinks {
  margin-right: auto;
}

#signUpButton {
  border: 1px solid black;
  border-radius: 12%;
  background-color: darkgray;
  color: white;
  padding: 10px;
  /* position: relative; */
}
