#headerTop {
  position: fixed;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  top: 0;
}

#headerMove {
  position: fixed;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 1px 10px 5px rgb(100, 100, 100, 0.5);
  top: 0;
}

#logo {
  width: 90px;
}

.itemsgrp {
  display: flex;
}

.linksgrp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  color: black;
  margin: 0 20px 0 0;
}

.link {
  margin: 0 20px 0 0;
}
