.card {
  border: 1px solid rgb(190, 202, 196);
  border-radius: 5px;
  margin-bottom: 20px;
}

.cardImg {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.cardImgBox {
  width: 100%;
}

.cardInfo {
  padding: 20px;
}

.cardReward {
  text-align: right;
}

.cardDescription {
  margin-bottom: 20px;
}

#cancelApplication {
  border-radius: 25px;
}

.cancelApplicationDiv {
  display: flex;
  justify-content: center;
}
