/* sideBar */
#sidebar {
  color: rgb(43, 43, 43);
  position: fixed;
  width: 15%;
  height: 60%;
  left: 170px;
  text-align: center;
}

.title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 200;
}

.editJobPrevious {
  background-color: rgb(241, 241, 241);
  width: 60%;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
}

.wholeEdit {
  display: inline-block;
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
  width: 35%;
  border: 1 solid black;
}

.editInput {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.skillsGrp {
  width: 100%;
  padding-bottom: 20px;
}

.cardInfo {
  margin-left: 15px;
  margin-top: 10px;
}

.cardReward {
  display: flex;
  justify-content: right;
  font-weight: 300;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.cardDescription {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
}

.cardName {
  display: inline-flex;
  font-weight: lighter;
  margin: 0;
  margin-left: 15px;
}

.ctrlBadge {
  display: flex;
  margin-right: auto;
}

.buttonRound {
  border-radius: 15px;
}

#cardBox {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 22%);
  grid-column-gap: 1px;
  justify-content: center;
}

.card {
  margin: 5px;
  border: 1px solid rgb(190, 202, 196);
  border-radius: 5px;
  text-align: center;
  /* background-color: rgb(240, 240, 240); */
}

.cardImg {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
