.registerPage {
  position: relative;
}

#loginImage {
  border-radius: 12px;
  width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  z-index: -1;
}

#welcome {
  margin: 40px 0 20px 0;
  font-weight: bold;
  font-size: 25px;
  color: rgb(59, 59, 59);
}

.validUserName {
  color: green;
  margin: 0 0 5px 0;
}

.invalidUserName {
  color: red;
  margin: 0 0 5px 0;
}

.inputField {
  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
}

.skills {
  margin-top: 20px;
  font-size: 1.1em;
}

.alreadyAMember {
  margin-top: 20px;
}

.background {
  background-image: url("../background-g6df07de67_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* position: relative; */
  z-index: -20;
}

.registerSegment {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  padding-bottom: 40px;
  width: 20vw;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.5);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
  bottom: 60px;
  left: 40vw;
}
