.NavigationBar {
  background-color: cyan;
  position: relative;
  padding: 10px;
}

.links,
.links:visited {
  color: white;
}

.header {
  display: flex;

  padding: 20px;
}

.links {
  margin: 20px;
}

#allLinks {
  margin-right: auto;
}
