/* Cards >>>>>>>>>>>>>>>>>>>>> */
.card {
  padding: 10px;
  margin: 5px;
  /* border: 1px solid rgb(231, 148, 116); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(207, 207, 207, 0.72);
  box-shadow: 5px 5px 15px 1px rgba(207, 207, 207, 0.72);
}

.cardInfo {
  padding: 5px;
  text-align: left;
}

.cardImg {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.cardBox {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  grid-column-gap: 1px;
  justify-content: center;
}

.cardText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Banner Stuff */
.banner {
  margin-top: 100px;
  background-color: rgb(231, 148, 116);
  padding: 10px;
  color: white;
}

#marketImage {
  display: flex;
  width: 40%;
  border-radius: 12px;
  padding: 10px;
  margin-left: auto;
  position: relative;
  right: 135px;
  top: 80px;
}

#marketTitleText {
  position: absolute;
  padding: 10px;
  line-height: 50px;
  top: 230px;
  text-align: center;
  left: 175px;
}

#searchbar {
  position: absolute;
  width: 600px;
  height: 50px;
  padding: 20px;
  border: 2px solid rgb(20, 119, 86);
  border-radius: 25px;
  left: 200px;
  top: 400px;
}

#submitButton {
  visibility: hidden;
  position: relative;
  left: 730px;
  bottom: 340px;
  border: transparent 1px solid;
  background-color: transparent;
}

.smallIcons {
  visibility: hidden;
  position: relative;
  bottom: 150px;
  left: 210px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.switchTo {
  position: absolute;
  bottom: 15%;
  left: 21%;
}

.loadingSpinner {
  position: fixed;
  top: 90%;
  left: 50%;
}

.ctrlBadge {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}

.username {
  display: flex;
  font-weight: lighter;
  margin: 0;
  margin-left: 15px;
}

.Names {
  display: flex;
  padding-top: 10px;
  margin-left: auto;
  justify-content: center;
  font-weight: 200;
}

.ul {
  margin-top: 10px;
  margin-right: 65%;
  margin-left: 50%;
  position: relative;
  list-style: none;
}

.li {
  text-align: center;
}
